    $t1-main-big: hsl(221, 72%, 35%);
    $t1-calc-title: #f4fcfd;;
    $t1-buttons-container: #242c44;
    $t1-toggle-bg: hsl(223, 31%, 20%);
    $t1-toggle-btn: #d93a36;
    $t1-screen-text: #fffeff;
    $t1-num-key-bg-1: #e8e3da;
    $t1-num-text-1: #464c58;
    $t1-equals-border: #92271b;
    $t1-equals: #d13f30;
    $t2-main-bg: #e6e7e7;
    $t2-num-key-border-1: #a99c91;
*{    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.background{
    font-family: 'Spartan', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $t1-main-big;
    transition: background-color 0.5s ease;
}
.calc-container{    
    position: relative;
    display: flex;
    flex-direction: column;            
    height: 35rem;
    width: 30rem;
}

.calc-title{
    position: relative;
    left: 1.6em;
    font-weight: bold;
    color: $t1-calc-title;    
    font-size: 1.2em;    
    transition: color 0.5s ease;
}



.theme-palette{ 
    position: absolute;    
    height: 100%;
    width: 100%;
}

.fa-palette{
    position: absolute;
    top: 0;
    z-index: 1000;
    color: white;    
    font-size: 1.5em;
    transition: color 0.5s ease;
}
.theme-toggle-btn{
    position: absolute;
    background-color: $t1-toggle-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%; 
    right: 1.8em;    
    transition: all 0.2s ease-out;
}


.screen-container{
    overflow: hidden;
    background-color: $t1-upper-screen-div;
    position: relative;    
    margin-top: 2em;
    height: 6em;
    width: 30em;
    padding: 2em;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}



.screen-text{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2.5em;
    font-weight: bold;
    color: $t1-screen-text;
    transition: all 0.5s ease;
}

.screen-text-after{    
    position: absolute;    
    font-size: 1em;
    bottom: -1em;
    right: 0.5em;    
    color: $t1-screen-text;
    transition: color 0.5s ease;
    opacity: 0.6;
}



.buttons-container{
    background-color: $t1-buttons-container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 2em;
    border-radius: 15px;
    height: 25em;
    width: 30em;    
    transition: background-color 0.5s ease;
}

.buttons-row{
    padding: 1em;
    height: 100%;
}

.button-div{    
    padding: 0.6em;
}

.button{    
    height: 100%;
    width: 100%;
    background-color: currentColor;
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 10px;
    outline: none !important;
    border: none;
    box-shadow: none;
    transition: background-color 0.5s ease, box-shadow 0s ease;
}

.button-dark{
    background-color: $t1-num-key-bg-1;
    color: $t1-num-text-1;    
    border: solid 0px;
    border-color: $t2-num-key-border-1;
    border-bottom-width: 4px;    
}

.button:active{
    box-shadow: inset 2px 2px 5px #555555;
    border: none;
}

.button-clicked{
    box-shadow: inset 2px 2px 5px #555555;
    border: none;
}



.equals-dark{
    background-color:$t1-equals;
    color: --t1-num-text-2;
    border-color: $t1-equals-border;
    transition: background-color 0.5s ease;
}


.buttonClicked{
    box-shadow: inset 2px 2px 4px black;
    border: none;
}

@media screen and (max-width: 500px){
    .calc-container{
        width: 20rem;
    }

    .button-div{
        padding: 0.4em;
    }
}
 