* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background {
  font-family: 'Spartan', sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bbecdf;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.calc-container {
  border-radius: 20px 20px 0 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40rem;
  width: 30rem;
  background-color: #1b6067;
  padding: 30px;
}

.calc-title {
  position: relative;
  left: 1.6em;
  font-weight: bold;
  color: #f4fcfd;
  font-size: 1.2em;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.fa-palette {
  position: absolute;
  top: 0;
  z-index: 1000;
  color: white;
  font-size: 1.5em;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.screen-container {
  overflow: hidden;
  background-color: #0f9473;
  position: relative;
  margin-top: 2em;
  height: 6em;
  width: 30em;
  padding: 2em;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.screen-text {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
  color: #fffeff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.screen-text-after {
  position: absolute;
  font-size: 1em;
  bottom: -1em;
  right: 0.5em;
  color: #fffeff;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  opacity: 0.6;
}

.buttons-container {
  background-color: #4ed8b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  border-radius: 15px;
  height: 25em;
  width: 30em;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.buttons-row {
  padding: 1em;
  height: 100%;
}

.button-div {
  padding: 0.6em;
}

.button {
  height: 100%;
  width: 100%;
  background-color: currentColor;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px;
  outline: none !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 0.5s ease, -webkit-box-shadow 0s ease;
  transition: background-color 0.5s ease, -webkit-box-shadow 0s ease;
  transition: background-color 0.5s ease, box-shadow 0s ease;
  transition: background-color 0.5s ease, box-shadow 0s ease, -webkit-box-shadow 0s ease;
}

.button-dark {
  background-color: #e8e3da;
  color: #464c58;
  border: solid 0px;
  border-color: #a99c91;
  border-bottom-width: 4px;
}

.button:active {
  -webkit-box-shadow: inset 2px 2px 5px #555555;
          box-shadow: inset 2px 2px 5px #555555;
  border: none;
}

.button-clicked {
  -webkit-box-shadow: inset 2px 2px 5px #555555;
          box-shadow: inset 2px 2px 5px #555555;
  border: none;
}

.equals-dark {
  background-color: #d13f30;
  color: --t1-num-text-2;
  border-color: #92271b;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.buttonClicked {
  -webkit-box-shadow: inset 2px 2px 4px black;
          box-shadow: inset 2px 2px 4px black;
  border: none;
}

@media screen and (max-width: 500px) {
  .calc-container {
    width: 20rem;
  }
  .button-div {
    padding: 0.4em;
  }
}
/*# sourceMappingURL=calc.css.map */